# Python byte-code
*.py[co]

# virutalenv directories
/env*/

# coverage files
.coverage

# setup, test and upload directories
/.cache/
/.tox/
/build/
/dist/
/docs/_build/
/freegames.egg-info/

.DS_Store
.idea/vcs.xml
.idea/free-python-games.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
